body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    background-color: #adb8da;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #adb8da;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 1);
    padding: 20px;
}

.h1 {
    font-size: 34px;
}

.info {
    display: flex;
    align-items: center;
}

.info__img {
    max-width: 200px;
    margin-right: 20px;
}
.info__img img {
    border-radius: 15px;
    box-shadow: 6px 6px 14px rgba(254, 254, 254, 0.45);
}

.info__text {
    /* max-width: 750px; */
    max-width: 100%;
    text-align: center;
}

.info__text p {
    color: #575555;
}

.social {
    text-decoration: none;
    color: #291bf6;
    background-color: #999a9d;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s linear;
}

.social:hover {
    background-color: #c6c6db;
}

.social:first-child {
    margin-bottom: 10px;
    display: inline-block;
}

.card {
    max-width: 450px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-bottom: 20px;
    position: relative;
}

.card h3 {
    text-align: center;
}

.card-hobby {
    background-color: #dfe1dd;
}

.card::before {
    content: '';
    display: block;
    width: 10px;
    height: 100%;
    background-color: #f4995c;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 15px 0 0 15px;
}

.card-work {
    background-color: #999a9d;
}

.card-contact {
    background-color: #62646c;
}

.btn {
    cursor: pointer;
    border: none;
    text-decoration: none;
    color: #291bf6;
    background-color: #999a9d;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s linear;
    font-weight: 900;
}

.btn:hover {
    background-color: #c6c6db;
}

.list {
    list-style: none;
}

.list li {
    padding: 10px 0;
}

.table {
    width: 100%;
}

.table tbody td {
    padding: 10px 0;
}

.form {
    width: 100%;
}

.form__block {
    display: flex;
    flex-wrap: wrap;
}

.form__block label, .form__block input, .form__block textarea {
    width: 100%;
}

.form__block input, .form__block textarea {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 20px;
    outline: 0;
    border: 0;
}

.footer {
    height: 100px;
}

@media (max-width: 650px) {
    .info {
        flex-direction: column;
    }
}